button.btn {
  font-size: 16px;
  padding: 1em;
  border: 3px solid;
  border-radius: 0.5em;
  user-select: none;
  cursor: pointer;
}
button.btn.circle {
  border-radius: 50%;
  height: fit-content;
  background-color: var(--button-type);
  font-size: var(--theme-sizing-xl);
}
button.btn:active,
button.btn:focus {
  box-shadow: 0 0 4px var(--button-type);
}
button.btn:disabled {
  background-color: #1f2933;
  filter: grayscale(60%);
  cursor: not-allowed;
}
button.primary {
  border-color: #66fcf1;
}
button.primary:active {
  color: #66fcf1;
}
button.secondary {
  border-color: #45a29e;
}
button.secondary:active {
  color: #45a29e;
}

/* RESET */
button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  outline: none;
}
