button.btn {
  font-size: 16px;
  padding: 1em;
  border: 3px solid;
  border-radius: 0.5em;
}
button.btn:active,
button.btn:focus {
  filter: brightness(150%);
}
button.btn:disabled {
  background-color: #1f2933;
  filter: grayscale(60%);
}

button.btn.terse {
  font-size: 12px;
  padding: 0.5em;
  height: fit-content;
}
button.primary {
  border-color: #66fcf1;
}
button.primary:active {
  color: #66fcf1;
}
button.secondary {
  border-color: #45a29e;
}
button.secondary:active {
  color: #45a29e;
}

/* RESET */
button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  outline: none;
}
