html {
  font-size: var(--theme-sizing-md);
}
body {
  padding: 1em;
  background-color: var(--theme-background);
  color: var(--theme-foreground);
  font-family: sans-serif;

  transition: --theme-background 500ms ease, --theme-foreground 500ms ease,
    --theme-inactive 500ms ease, --theme-primary 500ms ease,
    --theme-secondary 500ms ease;
}
