@supports (background: paint(houdini)) {
  @property --progress {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 0%;
  }
}

figure.progress {
  --progress: 0%;
  transition: --progress 0.5s linear;
  margin: 0;
  width: 100%;
  height: 30px;
  border-radius: 30px;
  background: radial-gradient(
      circle at var(--progress),
      var(--theme-primary) min(15px, var(--progress)),
      transparent min(15px, var(--progress))
    ),
    linear-gradient(
      to right,
      var(--theme-primary),
      var(--theme-primary) var(--progress),
      var(--theme-inactive) var(--progress),
      var(--theme-inactive)
    );
}
